---
import Main from "../components/Main.vue";
import Navbar from "../components/Navbar.vue";
import Seperator from "../components/Seperator.vue";
import Container from "../components/Container.vue";
import Page from "../layouts/Page.astro";
---

<Page title="IOT Platform Dashboard" icon="favicon.svg">
	<body>
		<Container vert={true} flood={true}>
			<Navbar />
			<Main client:load/>
		</Container>
	</body>
</Page>
