---
interface Props {
	vert?: Boolean;
	expand?: Boolean;
}

const { vert = false, expand = false } = Astro.props;

let c;

if (vert) {
	c = "mx-2";
	if (expand) c += " border-l border-neutral-400 h-auto";
} else {
	c = "my-2";
	if (expand) c += " border-t border-neutral-400 w-auto";
}
---

<div class={c}></div>
