---
interface Props {
	vert?: Boolean,
	flood?: Boolean,
	fill?: Boolean
}

const { vert = false, flood = false, fill = false } = Astro.props;

let c;

if (vert) {
	c = "flex flex-col";
} else {
	c = "flex flex-row";
}

if (flood) {
	c += " w-full h-full";
}

if (fill) {
	c += " bg-neutral-600 rounded-sm p-2 shadow-md";
}
---

<div class={c}>
	<slot />
</div>
